@import "../../config.scss";

.lp {
  &__container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 30%;
  }
  &__left {
    color: set-text-color($primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__photo {
    width: 120px;
    height: 120px;
    background: url("../../images/trujillo.jpg") no-repeat center center/cover;
    border-radius: 50%;
    // border: 1px solid $secondary-color;
    margin-bottom: 1rem;
  }
  &__main_heading {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__sub_heading {
    margin-bottom: 2rem;
  }
  &__social_nav {
    display: flex;
    a {
      margin: 0 1rem;
      transition: all $transition-time ease-out;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  &__cta {
    color: set-text-color($secondary-color);
    transition: all $transition-time ease-out;
    background: $secondary-color;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(#000, 0.4);
    &:hover {
      color: $secondary-color;
      background: $primary-color;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
  &__link {
    margin: 2rem -15px;
    display: flex;
    align-items: center;
    &:hover {
      .lp__link__shape {
        background: lighten($secondary-color, 20);
      }
      .lp__link__text {
        font-size: 1.6rem;
      }
    }
    &__shape {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transform: rotate(45deg);
      background: $primary-color;
      transition: all $transition-time ease-out;
    }
    &__text {
      padding-left: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      transition: all $transition-time ease-out;
    }
  }
  &__center {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .lp {
    &__container {
      display: flex;
      flex-direction: column;
    }
    &__left {
      height: 100%;
    }
    &__photo {
      display: none;
    }
    &__main_heading {
      margin-top: 1rem;
    }
    &__sub_heading {
      margin-bottom: 1rem;
    }
    &__cta {
      margin: 1rem 0 0rem 0;
    }
    &__right {
      height: 100%;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    &__link {
      margin: 0 0 1rem 0;
      &:hover {
        .lp__link__text {
          font-size: 1.8rem;
        }
      }
      &__shape {
        display: none;
      }
      &__text {
        padding: 0;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
    }
    &__center {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      top: 0%;
      margin-top: -20px;
    }
  }
}
