@import "../../config";

.bio {
  padding: 2rem 0;
  background: lighten($color: $secondary-color, $amount: 22);
  &__text {
    padding: 1rem;
    text-align: justify;
    font-size: 0.9rem;
  }
}

.edu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.edu {
  display: flex;
  padding: 1rem;
  &__photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 1rem;
    position: relative;
    &:hover {
      &::after {
        border: 2px solid #fff;
      }
    }
    &::after {
      content: "";
      box-sizing: inherit;
      position: absolute;
      top: -5%;
      right: -5%;
      left: -5%;
      bottom: -5%;
      background: transparent;
      border: 1px solid $dark-color;
      border-top-color: #fff;
      border-bottom-color: #fff;
      border-radius: 50%;
      animation: rot 5s infinite linear;
    }
    &__container {
      width: 58px;
      margin: auto;
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
    &:hover {
      border-color: #fff;
      box-shadow: 1px 1px 5px $dark-color;
    }
  }
  &__name {
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 700;
    &.right {
      text-align: right;
      margin-right: 1rem;
    }
  }
  &__grade {
    font-size: 0.9rem;
    &.right {
      text-align: right;
      margin-right: 1rem;
    }
  }
  &__remarks {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-style: italic;
    color: gray;
    &.right {
      text-align: right;
      margin-right: 1rem;
    }
  }
}
