.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading__txt {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  animation: heartbeat 1.8s infinite;
  font-family: "Lato";
}

@keyframes heartbeat {
  0% {
    font-size: 1.2rem;
  }
  25% {
    font-size: 1.3rem;
  }
  50% {
    font-size: 1.4rem;
  }
  75% {
    font-size: 1.3rem;
  }
  100% {
    font-size: 1.2rem;
  }
}
