@import "../../config";

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 1rem 1rem;
  box-shadow: 1px 0px 5px rgba(#000, 0.3);
  &__brand {
    min-width: 200px;
    margin-bottom: 1rem;
  }
  &__text {
    text-align: center;
    font-size: 0.9rem;
  }
  &__btn_list {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    div {
      margin: 0 1rem;
    }
    a {
      color: $secondary-color;
    }
  }
  &__btn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary-color;
    border-radius: 50%;
    padding: 0.1rem;
    box-shadow: 1px 0px 5px rgba(#000, 0.2);
    transition: all 200ms ease-out;
    &:hover {
      background: $secondary-color;
      z-index: 33;
      a {
        color: #fff;
        z-index: 34;
      }
    }
  }
  &__tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    img {
      width: 2rem;
      margin: 0 0.5rem;
    }
    &__heading {
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: $secondary-color;
      font-size: 1.3rem;
    }
  }
}
