@import "./config.scss";

// default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-rubik;
}

html {
  //   font-size: 20px; because of react shrinkage
  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  gap: 1rem;
  &.g2 {
    grid-template-columns: 0.4fr 0.6fr;
  }
  &.g3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.link {
  cursor: pointer;
}
.txt-focus {
  color: $secondary-color;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
}

@media (max-width: $mobile-width) {
  .grid {
    &.g3,
    &.g2 {
      grid-template-columns: 1fr;
    }
  }
}
