@import "./config.scss";

// default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-rubik;
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
