@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

$primary-color: #fff;
$secondary-color: #58afff;
$secondary-dark-color: darken($secondary-color, 20);
$light-color: #fff;
$dark-color: #333;
$mobile-width: 550px;
$max-width: 1100px;
$transition-time: 500ms;
$ff-rubik: "Rubik", sans-serif;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
